{% extends 'email/emailBase.html.twig' %}

{% block content %}
  <tr>
    <td>
      <p style="{{ paragraphStyle }}">
        <a href="{{ frontend_base_url }}/reset-password?token={{ resetToken }}">Click here to reset your password</a>
      </p>
    </td>
  </tr>
{% endblock %}
